<template>
  <div class="container">
    <h1>Interactive Board</h1>

    <IBlock
      v-for="(block, i) in blocks"
      :params="block"
      :zIndexes="zIndexes"
      :id="i"
      :ref="`block${i}`"
      :key="i"
      @updateBlock="handlerUpdateBlock"
      @removeBlock="handleRemoveBlock"
    />

    <ReturnPlace :deletedIds="deletedIds" @returnBlock="handleReturnBlock" />
  </div>
</template>

<script>
import IBlock from '@/components/interactiveBoard/iBlock.vue';
import ReturnPlace from '@/components/interactiveBoard/ReturnPlace.vue';
import {mapGetters, mapMutations, mapActions} from 'vuex';
import * as types from '../../store/types';

export default {
  name: 'InteractiveBoard',
  components: {
    IBlock,
    ReturnPlace
  },

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      blocks: types.INTERACTIVE_BOARD_BLOCKS,
      deletedIds: types.INTERACTIVE_BOARD_DELETED_IDS
    }),
    zIndexes() {
      return this.blocks.map(i => i.zIndex);
    }
  },

  created() {
    this.sLoad();
    window.addEventListener('beforeunload', this.sSave);
    this.$once('hook:beforeDestroy', () => {
      this.sSave();
    });
  },
  methods: {
    ...mapMutations({
      sUpdateBlock: types.INTERACTIVE_BOARD_BLOCK_UPDATE,
      sSetBlocks: types.INTERACTIVE_BOARD_BLOCKS_SET,
      sSetDeleteIds: types.INTERACTIVE_BOARD_DELETED_IDS_SET
    }),
    ...mapActions({
      sLoad: types.INTERACTIVE_BOARD_LOAD,
      sSave: types.INTERACTIVE_BOARD_SAVE
    }),

    handlerUpdateBlock(id, params) {
      this.sUpdateBlock({id, params});
    },

    handleRemoveBlock(id) {
      const newDeletedIds = [...this.deletedIds];
      newDeletedIds.push(id);
      this.sSetDeleteIds(newDeletedIds);
      this.sUpdateBlock({id, params: {show: false}});
    },

    handleReturnBlock() {
      if (!this.deletedIds.length) return false;

      const newDeletedIds = [...this.deletedIds];
      const returnId = newDeletedIds.pop();
      this.sSetDeleteIds(newDeletedIds);
      this.sUpdateBlock({id: returnId, params: {show: true}});

      this.$refs[`block${returnId}`][0].return();
    }
  }
};
</script>

<style scoped>
.returnBlock {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 150px);
  width: 300px;
  border: 1px solid gray;
  padding: 20px;
  user-select: none;
  background: #fff;
}

.returnBlock .button:hover {
  cursor: pointer;
  text-decoration: underline;
}
</style>
