<template>
  <div class="content">
    <h1>Transactions</h1>

    <div class="buttons">
      <b-button @click="start" variant="success">Запуск</b-button>
      <b-button @click="pause" variant="danger">Остановка</b-button>
      <b-button @click="clear" variant="warning">Сброс</b-button>
    </div>

    <div class="title-sum">Сумма {{ sb.toBitcoin(this.sum) }} BTC</div>

    <table>
      <tr>
        <th class="from">From</th>
        <th class="to">To</th>
        <th class="sum">Sum</th>
      </tr>
      <tr v-for="(item, i) in transactions" :key="i">
        <td>{{ item.from }}</td>
        <td>{{ item.to }}</td>
        <td>{{ sb.toBitcoin(item.sum) }} BTC</td>
      </tr>
    </table>
  </div>
</template>

<script>
import Vue from 'vue';
import {BootstrapVue} from 'bootstrap-vue';
Vue.use(BootstrapVue);
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import sb from 'satoshi-bitcoin';

export default {
  name: 'Transactions',
  data() {
    return {
      link: 'wss://ws.blockchain.info/inv',
      socket: null,
      status: 'stoped',
      statuses: {
        paused: 'paused',
        running: 'running',
        stoped: 'stoped'
      },
      transactions: [],
      sum: 0,
      sb: sb
    };
  },
  methods: {
    start() {
      if (this.status === this.statuses.paused) {
        this.status = this.statuses.running;
        this.socket.send(JSON.stringify({op: 'unconfirmed_sub'}));
        return true;
      }

      if (this.status === this.statuses.stoped) {
        this.status = this.statuses.running;
        this.socket = new WebSocket(this.link);
        this.socket.onclose = this.handleClose;
        this.socket.onmessage = this.handleOnMessage;
        this.socket.onerror = this.error;
        this.socket.onopen = () => {
          console.log('Соединение установлено. ');
          this.socket.send(JSON.stringify({op: 'unconfirmed_sub'}));
        };
      }
    },

    pause() {
      if (this.status !== this.statuses.running) return false;
      this.status = this.statuses.paused;
      this.socket.send(JSON.stringify({op: 'unconfirmed_unsub'}));
    },

    clear() {
      this.transactions = [];
      this.pause();
      this.sum = 0;
    },
    handleOnMessage(event) {
      if (this.status !== this.statuses.running) return false;
      let transaction = JSON.parse(event.data);
      let item = {
        from: transaction.x.out.map(i => i.addr).join(' '),
        to: transaction.x.inputs[0].prev_out.addr,
        sum: transaction.x.inputs[0].prev_out.value
      };

      this.transactions.unshift(item);
      this.sum += item.sum;
    },
    handleError(error) {
      console.log('Ошибка ' + error.message);
    },
    handleClose(event) {
      if (event.wasClean) {
        console.log('Соединение закрыто чисто');
      } else {
        console.log('Обрыв соединения');
      }
      console.log('Код: ' + event.code + ' причина: ' + event.reason);
    }
  }
};
</script>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #bbbbbb;
  font-size: 12px;
  margin-top: 20px;
}

th.from,
th.to {
  width: 40%;
}

th .sum {
  width: 20%;
}

.title-sum {
  margin-top: 20px;
  font-weight: bold;
}

th,
td {
  border: 1px solid #bbbbbb;
  padding: 5px;
}

.buttons button {
  margin: 10px;
  color: #fff;
}
.content {
  margin: 0 20px;
}
</style>
