<template id="iBlock">
  <VueDragResize
    v-show="show"
    :class="{moving}"
    :y="top"
    :x="left"
    :w="width"
    :h="height"
    :minw="80"
    :minh="50"
    :isActive="true"
    :preventActiveBehavior="true"
    :sticks="['bm', 'mr']"
    :z="zIndex"
    @clicked="handleClicked"
    @dragging="handleResize"
    @dragstop="handleDragStop"
    @resizing="handleResize"
    @resizestop="handleResizeStop"
  >
    <div class="head">
      {{ title }}
      <div class="remove" @click="remove">-</div>
    </div>
    <div class="content">
      <p>{{ left }} х {{ top }}</p>
      <p>{{ width }} х {{ height }}</p>
    </div>
  </VueDragResize>
</template>

<script>
import VueDragResize from 'vue-drag-resize';

export default {
  name: 'iBlock',
  template: '#iBlock',
  components: {
    VueDragResize
  },
  props: {
    id: Number,
    params: {
      type: Object,
      required: true,
      validator(value) {
        const paramKeys = Object.keys(value);
        const requiredKeys = [
          'top',
          'left',
          'width',
          'height',
          'title',
          'zIndex',
          'show'
        ];

        return JSON.stringify(paramKeys) === JSON.stringify(requiredKeys);
      }
    },
    zIndexes: Array
  },
  data() {
    return {
      moving: false,
      ...this.params
    };
  },
  methods: {
    handleResize(rect) {
      Object.assign(this, rect);
    },

    handleResizeStop(rect) {
      this.$emit('updateBlock', this.id, {...rect});
    },

    handleDragStop(rect) {
      this.moving = false;
      this.$emit('updateBlock', this.id, {...rect});
    },

    handleClicked() {
      let lastIndex = Math.max(...this.zIndexes);
      this.zIndex = ++lastIndex;
      this.$emit('updateBlock', this.id, {zIndex: lastIndex});
      this.moving = true;
    },

    remove() {
      this.$emit('removeBlock', this.id);
      this.show = false;
    },

    return() {
      this.show = true;
      this.width = 300;
      this.height = 100;
      this.left = Math.round(window.innerWidth / 2 - 150);
      this.top = Math.round(window.innerHeight / 2 - 50);

      this.$emit('updateBlock', this.id, {
        top: this.top,
        left: this.left,
        width: this.width,
        height: this.height
      });
      this.handleClicked();
    }
  }
};
</script>

<style scoped>
.vdr {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 7px 6px 17px -10px black;
  border: 1px solid hsla(0, 0%, 92%, 1);
  border-radius: 3px;
}

.vdr-stick {
  border: 1px solid #d0c9c9;
  border-radius: 1px;
}

.vdr.active:before {
  content: none;
}

.vdr.moving {
  cursor: grabbing;
}

.head {
  border-bottom: 1px solid hsla(0, 0%, 82%, 1);
}

.remove {
  float: left;
  height: 19px;
  width: 17px;

  border-right: 1px solid hsla(0, 0%, 82%, 1);
  line-height: 15px;
  color: hsla(0, 0%, 52%, 1);
  cursor: pointer;
  box-sizing: border-box;
}
</style>
