<template>
  <div class="returnBlock">
    <div class="button" @click="$emit('returnBlock')">
      + Return tile to trading desk
      <span v-if="this.deletedIds.length">
        ({{ this.deletedIds.length }})
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    deletedIds: Array
  }
};
</script>
