<template>
  <div id="app">
    <link rel="stylesheet" href="/css/main.css" />
    <Nav />
    <router-view />
  </div>
</template>

<script>
import Nav from '@/components/Nav';

export default {
  name: 'App',
  components: {
    Nav
  }
};
</script>
